<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
  </configSections>
  <log4net configSource="log4net.config" />
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="JobService.Error" />
  
  <appSettings>
    <add key="SignalRUrl" value="http://*:5056" />
  </appSettings>
</configuration>